
body {
  background-color:white;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 40px;
  }
  
table {
    
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
  }

  #tableCell {
    width: 5vw;
    height: 5vw;
    text-align: center;
    font-size: 300%;
    border: black solid 3px;
    color: black;
    padding: 0px;
  }

  .black{
    background-color:black;
  }

  #piece {
    width: 40px;
    height: 55px;
    margin: 0px;
  }

  #pawn {
    width: 30px;
    height: 40px;
    margin: 0px;

  }

  #king {
    width: 30px;
    height: 40px;
    margin: 0px;

  }

  #rook {
    width: 30px;
    height: 40px;
    margin: 0px;

  }

  #knight {
    width: 30px;
    height: 40px;
    margin: 0px;

  }

  #bishop {
    width: 30px;
    height: 40px;
    margin: 0px;

  }


  #queen{
    width: 30px;
    height: 40px;
    margin: 0px;


  }


