
body {
  background-color:white;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 40px;
  }
  
table {
    
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
    border-spacing: 0;
    border: 2px solid black;
    border-collapse: collapse;
  }

  .tableCell {
    width: 5vw;
    height: 5vw;
    text-align: center;
    font-size: 300%;
    padding: 0px;
  }

 

  .chessPiece {
    width: 30px;
    height: 40px;
    margin: 0px;
  }